.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  min-height: 100vh;
  /* border: 1px solid red; */

  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 1rem;
}
