.container {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  place-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.tmpImg {
  border: 1px solid red;
  image-rendering: pixelated;
}

.pokeContainer {
  display: grid;
  gap: 1rem;
}
